# --- API CONFIGURATION ---
EXTERNAL_PORT=5500
INTERNAL_PORT=8080
DOTNET_ENV=Development

# --- DATABASE CONFIGURATION ---
DB_USEDOCKER=true
DB_PROVIDER=Postgres
DB_HOST=db
DB_NAME=iot_broker_metadata
DB_USER=broker_admin
DB_PASSWORD=adminpassword
DB_EXTERNAL_PORT=5432
DB_INTERNAL_PORT=5432